* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    scrollbar-width: thin;
    scrollbar-color: #333 #000000;
}
h1 {
    color: #bb4924;
    font-size: 18px;
  

}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
   
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;

}
.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}