* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    scrollbar-width: thin;
    scrollbar-color: #333 #000000;
}
.nav-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 15px;
  transition: background-color 0.3s ease;

}
.nav-title:hover {
  
   background-color: #da7749;
    color: #ae3a1a;
    border-radius: 5px;
   
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
   
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;

}
.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
.nav ul li a:hover {
    background-color: #da7749;
    color: #fff;
    border-radius: 5px;
}

#hello {
  
 
    display: flex;
    justify-content: flex-end;
  margin-left: 30px;
}