*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#070707;
    color:white;
    min-height:100vh;
}

.navbar{
    width:90%;
    margin:auto;
    padding:30px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links li{
    color:#bdbdbd;
    cursor:pointer;
}

.nav-links li:hover{
    color:#ff8b61;
}

.hello-btn{
    background:#ff8b61;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
}

.hero{
    width:90%;
    margin:auto;
    margin-top:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.left{
    width:40%;
}

.tag{
    border:1px solid #444;
    padding:10px 18px;
    border-radius:25px;
    color:#ff8b61;
}

.small{
    margin-top:50px;
    color:#777;
    letter-spacing:4px;
}
.small span{
    color:#ff8b61;
    font-weight:bold;
    
}

h1{
    font-size:90px;
    line-height:1.1;
    margin-top:20px;
}

h1 span{
    color:#ff8b61;
}

.desc{
    margin-top:30px;
    color:#9c9c9c;
    font-size:20px;
}

.card{
    width:250px;
    background:#111;
    border-radius:20px;
    overflow:hidden;
}

.card img{
    width:80%;
    display:block;
}

.card-info{
    padding:20px;
}
.card-info h3{
    font-size:22px;
}
.card-info p{
    color:#777;
    margin-top:5px;
}
.container{
    width:85%;
    margin:auto;
    padding:100px 0;
}
.about h6{
    color:#777;
    letter-spacing:4px;
    font-size:18px;
}
.about h6 span{
    color:#ff8b61;
    font-size:18px;
    font-weight:bold;
    margin-right:10px;
}
.about .head{
    font-size:72px;
   line-height:1.1;
    font-weight:700;
    max-width:800px;
    color:white;
}
.desc{
    margin-top:50px;
    color:#9c9c9c;
    font-size:22px;
    max-width:650px;
    line-height:1.6;
}
.desc {
    margin-right:30px;
    color:#9c9c9c;
    font-size:20px;
}

.about{
    width:90%;
    margin:120px auto;
    display:grid;
    grid-template-columns: 58% 42%;
    gap:70px;
}

.container{
    padding:0;
    width:100%;
}

.second{
    position:relative;
    padding-left:30px;
    border-left:1px solid #333;
    margin-top:250px;
}

.education-item{
    position:relative;
    margin-bottom:70px;
}

.education-item::before{
    content:"";
    position:absolute;
    left:-37px;
    top:10px;
    width:14px;
    height:14px;
    border-radius:50%;
    background:#ff8b61;
}
.second h4{
    font-size:24px;
    margin:10px 0;
    color:white;
}

.second p{
    color:#a0a0a0;
    font-size:18px;
    line-height:1.6;
}

.second h6{
    color:#8a8a8a;
    letter-spacing:4px;
    margin-bottom:10px;
}